.WhyThirive {
    background-color: #62D0DF;
    width: 736px;
}

.WhyThirive h2{
    font-size: 36px;
    color: #FFFFFF;
}

.htwothrive {
    margin-top: 151px;
    margin-bottom: 75px;
}

.WhyThirive p {
    width: 555px;
    color: #FFFFFF;
    font-size: 22px;
    line-height: 34px;
}

.pthrive {
    margin-bottom: 95px;
}